<h1><%= @user.nick %> Profile</h1>
<p><%= @user.email %></p>
<p><%= @user.first_name %> <%= @user.last_name %></p>
<h2>Posts</h2>
<p>
  <% @user.posts.each do |post| %>
    <%= link_to post.title, post %><br />
  <% end %>
<p>
