<h1>Listing spins</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @spins.each do |spin| %>
  <tr>
    <td><%= spin.name %></td>
    <td><%= link_to 'Show', spin %></td>
    <td><%= link_to 'Edit', edit_spin_path(spin) %></td>
    <td><%= link_to 'Destroy', spin, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Spin', new_spin_path %>
