<h1>Listing humannames</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @humannames.each do |humanname| %>
  <tr>
    <td><%= humanname.name %></td>
    <td><%= link_to 'Show', humanname %></td>
    <td><%= link_to 'Edit', edit_humanname_path(humanname) %></td>
    <td><%= link_to 'Destroy', humanname, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Humanname', new_humanname_path %>
