<h1>Listing products</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Platform</th>
    <th>Distro</th>
    <th>Distro version</th>
    <th>Spin</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @products.each do |product| %>
  <tr>
    <td><%= product.name %></td>
    <td><%= product.platform.name %></td>
    <td><%= product.distro.name %></td>
    <td><%= product.distro_version.name %></td>
    <td><%= product.spin.name %></td>
    <td><%= link_to 'Show', product %></td>
    <td><%= link_to 'Edit', edit_product_path(product) %></td>
    <td><%= link_to 'Destroy', product, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Product', new_product_path %>
