<!DOCTYPE html>
<html>
<head>
  <title>Linuxmart</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<div style="float:right">
 
  <%  if user_signed_in? %>
    <%= current_user.email %>
    <%= current_user.admin? ? "Admin" : ":)" %>
    <%= link_to 'Sign out', destroy_user_session_path %>
  <% else %>
    <%= link_to 'Sign in', new_user_session_path %>
    <%= link_to 'Sign up', new_user_registration_path %>
  <% end %>

</div>
<div id="header">
   <span style="color:blue">Linux</span><span style="color:green">Mart</span>
</div>
<div id="nav">
  <ul>
    <li><%= link_to "Main", root_path %></li>
    <li><%= link_to "Families", families_path %></li>
    <li><%= link_to "Distros", distros_path %></li>
  </ul>
</div>

<div id="left-sidebar">
  <h2>Latest releases</h2>
  <ul>
    <% DistroVersion.latest.each do |version| %>
      <li><span class="date"><%= version.issued_on %></span> <%= link_to "#{version.distro.name} #{version.name}", version %></li>
    <% end %>
  </ul>
</div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

<div id="main">
  <%= yield %>
</div>
</body>
</html>
